name: Deploy to WordPress Server

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Check out the repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Set up the SSH key for deployment
      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      # Step 3: Deploy the latest changes to the server
      - name: Deploy via SSH
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@18.143.47.30 'cd /var/www/html && git pull origin main'
